<html>
    <head>
        <meta charset="UTF-8">
        <title>Naver Login</title>
    </head>
    <body>
        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=dCVGzkXWy9hisbp_qKAV&redirect_uri=http%3A%2F%2Fkimcoder.kro.kr%3A8080%2FreceiveAC&state={{state}}">
            <img src="login.png" width="400px">
        </a>
    </body>
</html>