<html>
    <head>
        <meta charset="UTF-8">
        <title>Google Calender</title>
    </head>
    <body>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.events.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.events&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2FreceiveAC&client_id=499264841555-1kqekv3g1khc8jn5848cn1i8pcp12t29.apps.googleusercontent.com">
            요청 URI
        </a>
    </body>
</html>