<html>
<head>
    <meta charset="UTF-8">
    <title>Kakao Login</title>
</head>
<body>
    <h2>이메일</h2>
    <p>{{email}}</p><br>

    <h2>로그아웃</h2>
    <a href="https://kauth.kakao.com/oauth/logout?client_id=50ca5e8cf40713abcab868ed9ed3047d&logout_redirect_uri=http%3A%2F%2Fkimcoder.kro.kr%3A8080%2Fhome">로그아웃</a>
</body>
</html>